* {
    margin: 0px;
    padding: 0px;
}
  
header,main,nav,article,aside,section,footer {
    display: block;}
  
body {
    font-family: "Lato", sans-serif;
    font-style: normal;
}


#layout main{
    background: #ffffff;
    padding-top: 110px;
}


.navHeader{
    display: flex;
    width: 100%;
    height: 30px; 

}
ul {
    list-style-type: none;
    margin-top: 5px;
}
  
li {
    float: left;
}
  
li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #3e8e41;
}




footer{
    display: none;
    width: 100%;
    height: 65px;
}



header{
    position: absolute;
    width: 100%;
    height: 110px;
    background-color: #40bf40;
}

.firstHeader{
    position: absolute;
    width: 100%;
    height: 50%;
    margin-top: 1%;
}


.humborger{
    display: none;
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 6px;
    width: 50px;
    height: 50px;
}


.humborger span{
    position: absolute;
    display: block;
    width: 100%;
    height: 10%;
    border-radius: 10px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    transition: .5s;
}
.humborger span:nth-child(1){ transform: translate(-50%,-50%) translateY(-15px);}
.humborger span:nth-child(3){ transform: translate(-50%,-50%) translateY(15px);}

.humborger:hover span:nth-child(1){ transform: translate(-50%,-50%) translateY(-20px);}
.humborger:hover span:nth-child(3){ transform: translate(-50%,-50%) translateY(20px);}




.bell{
    display: none;
    float: left;
    margin-left: 30px;
    margin-top: 13px;
    color: #ffffff;
}

.bellFORwb{
    float: right;
    display: block;
    width: 130px;
    height: 80px;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 5%;

}





/*------------------------------------------*/

.search{
    float: left;
  }


.searchButt{
    float: left;
    width: 40px;
    height: 40px;
    background: #40bf40;
    color: white;
    font-size: 25px;
    border: 3px solid #40bf40;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 6px;
  }

.search input {
    float: left;
    font-size: 30px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5%;
    font-size: 17px;
    width: 70%;
    height: 40px;
    max-width: 100%;
    font-size: 17px;
    margin-top: 4px;

}
 

/*------------------------------------------*/

.helloUSER{
    float: left;
    width: 110px;
    height: 40px;
    margin-left: 10px;
    margin-top: 13px;
    color: #ffffff;
    font-size: 20px;
}


.Logo{
    float: right;
    height: 55px;
    margin-right: 7%;
}

.paw1{
    float: left;
    font-size: 40px;
    color: #ffffff;
    margin-top: 7px;  
}

.paw2{
    float: left;
    font-size: 40px;
    color: #ffffff;
    margin-left: 4px;
    margin-top: 7px;  
}


.Hdog{
    float: left;
    margin-left: 4px;
    font-size: 40px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 7px;
}

.Hfetch {
    float: left;
    font-size: 40px; 
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 7px;

}

#logoIMG{
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: relative;

    float: left;
    margin-left: 2px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.secHeader{
    float: right;
    margin-top: 6.3%;
    padding-right: 30px;
}

h3{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

/*--------main----------*/
.btn-group .button {
    background-color: #ffffff;
    border: 3px solid green;
    text-align: center;
    padding: 15px 32px;
  
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
    font-weight: bold;
}
  
.btn-group .button:not(:last-child) {
    border-bottom: none; 
}
  
.btn-group .button:hover {
    background-color: #3e8e41;
}
.asid1{
    float: left;
    width: 150px;
    height: 80%;
}
.asid2{
    float: left;
    width: 150px;
    height: 80%;
}

.shimi{
    float: right;
    margin: 25px;
    margin-top: 11%;
    width: 200px;
    height: 200px;
    background-image: url('/images/dog1.jpg');
    background-size: cover;
    border-radius: 10%;
}

.infoWEB{
    width: 550px;
    height: 350px;
    margin: 25px;
    margin-top: 140px;
    text-align: center;
    
}





.HomeScren{
    display: none;
    background-color: #d3d3d3;
    height: 260px;}

.HomeScrenWEB{
    display: block;
    background-color: #d3d3d3;
    margin-top: 7%;
    margin-right: 2%;
    height: 410px;
    margin-left: 325px;

}


.butMain{
    display: none;
    height: 277px;
    width: 100%;
    background-color: #ffffff;
}
.butMain h3{
    color: #050505;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: rgb(233, 7, 7);
    border-radius: 50%;
    display: inline-block;
}

.one{ 
    float: left;
    margin: 2%;
}
.two{ 
    float: left;
    margin: 10%;
}
.tree{ 
    float: left;
    margin: 5%;
}

.Mq{
    display: inline-block;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border: 3px solid #050505;
    color: #050505;
    background-color: #ffffff;
}


.Allicons{ 
    font-size: 50px;
    margin: 20%;
}

.fille{
    float: left;
    margin-left: 20px;
    margin-top: 20px;

}

.control{
    position: absolute;
    float: left;
    margin-left: 20px;
    margin-top: 150px;
}

.sound{
    float: right;
    margin-right: 20px;
    margin-top: 20px;

}

.hart{    
    position: absolute;
    float: left;
    margin-left: 375px;
    margin-top: 150px;
}

.camara{
    position: absolute;
    float: left;
    margin-left: 155px;
    margin-top: 35px;
}

.BigButt{
    display: inline-block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #050505;
    color: #050505;
    background-color: #ffffff;

}

.BigIcon{
    font-size: 80px;
    margin: 20%;
}

.ImgIcon{
    width: 55px;
    height: 55px;
}

.hart .ImgIcon{ margin-top: 9px;}



.navIcon{
    font-size: 30px;
    margin: 20%;

}

.dog1{    
    float: left;
    margin: 11%;
    font-size: 180%;
}

.dog2{
    float: left;
    font-size: 180%
}

.poto{
    width: 20px;
    height: 20px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.Pone{
    background-image: url('/images/dog1.jpg'); 
}
.Ptwo{
    background-image: url('/images/dog2.jpg');
}

.smallCamara{
    font-size: 20px;
    margin: 15%;
    color: #ffffff;

}


.btn-group-footer {
    display: none;}

.btn-group-footer .button {
    background-color: #ffffff;
    border: 3px solid green;
    text-align: center;
    padding: 15px 32px;
  
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 120.8px;
    height: 65px;
    display: block;
    float: left;
    font-weight: bold;

}
  
.btn-group-footer .button:not(:last-child) {
    border-bottom: none; 
}
  
.btn-group-footer .button:hover {
    background-color: #3e8e41;
}

.footericons{
    font-size: 25px;
}


/*<----layout2----->*/

.mainlayout2{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.dogData{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px
}

.infoDOG{
    overflow: hidden;
    margin-top: 15px;
}

.infoDOG a{
    float: right;
    margin-left: 10px;
}
.infoDOG img{
    display: block;
    width: 150px;
    height: 150pxl;
}
.infoDOGbody{
    overflow: hidden;
}
.infoDOGbody h4{
    text-align: right;
    margin: 0 0 5px;
    font-size:18px;
}
.infoDOGbody a{
    float: left;
    margin: 0 0 5px;
    font-size:18px;
}

.infoDOGbody p{
    text-align: right;
    margin: 0 0 10px;

}

.infoDOGbody ul{
    float: right;
    margin-left: -5px;
    margin-top: 5px;

}

.infoDOGbody li{

    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.but-add-dog{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    margin-right: 90%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #e3e3e3;
}
.but-add-dog:hover{
    background-color: #3e8e41;
}


.dogDataAdd{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    width: 96%;
}

.infoDOGadd{
    overflow: hidden;
    margin-top: 15px;

}

.infoDOGadd a{
    float: right;
    margin-left: 10px;
}
.infoDOGadd img{
    display: block;
    width: 150px;
    height: 150pxl;
}
.DOGbodyADD{
    overflow: hidden;
}
.DOGbodyADD h4{
    text-align: right;
    margin: 0 0 5px;
    font-size:18px;
}







/*-------------layout3----------------*/


.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;

}




/*-------------------------------------*/

    


@media screen and (max-width: 500px){

    .asid1, .asid2{display: none;}
    .butMain{display: block;}

    .bellFORwb{display: none;}
    .bell{display: block;}

    .HomeScrenWEB{display: none;}
    .HomeScren{display: block;}

    .navHeader{
        display: block;
        text-align: center;
    }
    .humborger{display: block;}
    .btn-group-footer {display: block;}
    footer{display: block}

    .infoDOGbody ul{display: none;}
    .infoDOGbody a{display: none;}
    .dogData{padding: 0px; margin-bottom: 0px;}
    
    .but-add-dog{color: #000000; border: 3px solid #000000; background-color: #ffffff;}
    .dogDataAdd{border: 0px; background: #ffffff;}
    .DOGbodyADD h4{display: none;}
    .infoDOGadd img{display: none;}
}

@media (max-width: 580px) {
    .Hdog, .Hfetch{font-size: 25px;}
    #logoIMG{width: 40px; height: 40px;}
    .paw1,.paw2{font-size: 30px;}
}

@media (max-width: 1010px) {

    .helloUSER{display: none;}

}


@media (max-width: 736px) {
    .search input{display: none;}
    .scqar{display: block;}


}








