* {
    margin: 0px;
    padding: 0px;
}

  
header,main,nav,article,aside,section,footer {
    display: block;}
  
body {
    font-family: "Lato", sans-serif;
    font-style: normal;
}


#indexPage main{
    background: #ffffff;
    padding-top: 120px;
}


#listDogsPage main{
    background: #ffffff;
    padding-top: 120px;
}



#myDoginfoPage main{
    background: #ffffff;
    padding-top: 120px;
    margin: auto;
}


.navHeader{
    float: right;
    margin-top: 9px;
}

ul {
    list-style-type: none;
    margin-top: 5px;
}
  
nav li {
    float: left;
    list-style: none;
}
nav a {    
    color: #000000;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  
li a:hover {
    background-color: #3e8e41;
}

.h3ONmq{display: none; margin-top: 15px;}
.navlayout2-3-4{display: block;}



footer{
    display: none;
    width: 100%;
    height: 65px;
}



header{
    position: absolute;
    width: 100%;
    height: 110px;
    background-color: #40bf40;
}

.firstHeader{
    position: absolute;
    width: 100%;
    height: 50%;
}


.humborger{
    display: none;
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 6px;
    width: 50px;
    height: 50px;
}

#myLinks{
    display: none;
    float: right;
    overflow: hidden;
    background-color:#ffffff ;
    border: 2px solid #000000;
    position: relative;
    margin-top: 50px;
    width: 60%;
    margin-top: 13px;
}
#myLinks a {
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: right;
    margin: 0 0 5px;
}

#myLinks a:hover {
    background-color: rgb(217, 243, 220);;
    color: black;
}

.imagHumborger{
    float: right;
    width: 25px;
    height: 25px;
    margin-left: 20px;
}


.humborger span{
    position: absolute;
    display: block;
    width: 100%;
    height: 10%;
    border-radius: 10px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    transition: .5s;
}
.humborger span:nth-child(1){ transform: translate(-50%,-50%) translateY(-15px);}
.humborger span:nth-child(3){ transform: translate(-50%,-50%) translateY(15px);}

.humborger:hover span:nth-child(1){ transform: translate(-50%,-50%) translateY(-20px);}
.humborger:hover span:nth-child(3){ transform: translate(-50%,-50%) translateY(20px);}




.bell{
    display: none;
    float: left;
    margin-left: 30px;
    margin-top: 13px;
    color: #ffffff;
}

.bellFORwb{
    margin-top: 20px;
    float: right;
    display: block;
    width: 130px;
    height: 80px;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 5%;

}





/*------------------------------------------*/

.search{
    float: left;
  }


.searchButt{
    float: left;
    width: 40px;
    height: 40px;
    background: #40bf40;
    color: white;
    font-size: 25px;
    border: 3px solid #40bf40;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 6px;
  }

.search input {
    float: left;
    font-size: 30px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5%;
    font-size: 17px;
    width: 70%;
    height: 40px;
    max-width: 100%;
    font-size: 17px;
    margin-top: 4px;

}
 

/*------------------------------------------*/

.helloUSER{
    float: left;
    width: 110px;
    height: 40px;
    margin-left: 10px;
    margin-top: 13px;
    color: #ffffff;
    font-size: 20px;
}


#Logo{
    display: block;
    float: right;
    height: 55px;
    margin-right: 5%;
}

#Logo .paw1{
    float: left;
    font-size: 40px;
    color: #ffffff;
    margin-top: 7px;  
}

#Logo .paw2{
    float: left;
    font-size: 40px;
    color: #ffffff;
    margin-left: 4px;
    margin-top: 7px;  
}


#Logo .Hdog{
    float: left;
    font-size: 40px; 
    margin-left: 4px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 7px;
}

#Logo .Hfetch {
    float: left;
    font-size: 40px; 
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 7px;

}

#Logo .logoIMG{
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: relative;

    float: left;
    margin-left: 2px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.secHeader{
    margin-top: 12vh;
    width: 100%;
    float: right;
    height: 47px;
    padding-right: 30px;
    background-color: #ffffff;
}

.Hh3{
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.Hh3-header{
    font-size: 20px;
    margin-left: 80px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}



/*--------main----------*/
.btn-group .button {
    background-color: #ffffff;
    border: 3px solid green;
    text-align: center;
    padding: 15px 32px;
  
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
    font-weight: bold;
}
  
.btn-group .button:not(:last-child) {
    border-bottom: none; 
}
  
.btn-group .button:hover {
    background-color: #3e8e41;
}
.asid1{
    margin-top: 20px;
    float: left;
    width: 150px;
    height: 80%;
}
.asid2{
    margin-top: 20px;
    float: left;
    width: 150px;
    height: 80%;
}

.shimi{
    float: right;
    margin: 25px;
    margin-top: 11%;
    width: 200px;
    height: 200px;
    background-image: url('/images/dog1.jpg');
    background-size: cover;
    border-radius: 10%;
}

.infoWEB{
    width: 550px;
    height: 350px;
    margin: 25px;
    margin-top: 140px;
    text-align: center;
    
}





.HomeScren{
    display: none;
    background-color: #d3d3d3;
    height: 260px;}

.HomeScrenWEB{
    display: block;
    background-image: url('/images/open.png');
    background-size: cover;
    background-color: #d3d3d3;
    margin-top: 7%;
    margin-right: 2%;
    height: 410px;
    margin-left: 325px;

}


.butMain{
    display: none;
    height: 277px;
    width: 100%;
    background-color: #ffffff;
}
.butMain h3{
    color: #050505;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: rgb(233, 7, 7);
    border-radius: 50%;
    display: inline-block;
}

.one{ 
    float: left;
    margin: 4%;
}
.two{ 
    float: left;
    margin: 10%;
}
.tree{ 
    float: left;
    margin: 5%;
}

.Mq{
    display: inline-block;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border: 3px solid #050505;
    color: #050505;
    background-color: #ffffff;
}


.Allicons{ 
    font-size: 50px;
    margin: 20%;
}

.fille{
    float: left;
    margin-left: 20px;
    margin-top: 20px;

}

.control{
    position: absolute;
    float: left;
    margin-left: 20px;
    margin-top: 150px;
}

.sound{
    float: right;
    margin-right: 20px;
    margin-top: 20px;

}

.hart{    
    position: absolute;
    float: left;
    margin-left: 375px;
    margin-top: 150px;
}

.camara{
    position: absolute;
    float: left;
    margin-left: 155px;
    margin-top: 35px;
}

.BigButt{
    display: inline-block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #050505;
    color: #050505;
    background-color: #ffffff;

}

.BigIcon{
    width: 120px;
    height: 120px;;
}

.ImgIcon{
    width: 55px;
    height: 55px;
}

.hart .ImgIcon{ margin-top: 9px;}



.navIcon{
    font-size: 30px;
    margin: 20%;

}

.dog1{    
    float: left;
    margin: 11%;
    font-size: 180%;
}

.dog2{
    margin-top: 16%;
    float: left;
    font-size: 180%
}

.poto{
    width: 20px;
    height: 20px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.Pone{
    background-image: url('/images/dog1.jpg'); 
}
.Ptwo{
    background-image: url('/images/dog2.jpg');
}

.smallCamara{
    font-size: 20px;
    margin: 15%;
    color: #ffffff;

}


.btn-group-footer {
    display: none;}

.btn-group-footer .button {
    background-color: #ffffff;
    border: 3px solid green;
    text-align: center;
    padding: 15px 32px;
  
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    width: 25%;
    height: 65px;
    display: block;
    float: left;
    font-weight: bold;

}
  
.btn-group-footer .button:not(:last-child) {
    border-bottom: none; 
}
  
.btn-group-footer .button:hover {
    background-color: #3e8e41;
}

.footericons{
    font-size: 25px;
}


/*<----layout2----->*/

.mainlayout2{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.Data{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px
}

.info{
    overflow: hidden;
    margin-top: 15px;
}

.info a{
    float: right;
    margin-left: 10px;
}
.info img{
    display: block;
    width: 150px;
    height: 150pxl;
}
.infobody{
    overflow: hidden;
}
.infobody h4{
    text-align: right;
    margin: 0 0 5px;
    font-size:18px;
}
.infobody a{
    float: left;
    margin: 0 0 5px;
    font-size:18px;
}

.infobody p{
    text-align: right;
    margin: 0 0 10px;

}

.infobody ul{
    float: right;
    margin-left: -5px;
    margin-top: 5px;

}

.infobody li{

    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.but-add-dog{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    margin-right: 90%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #e3e3e3;
}
.but-add-dog:hover{
    background-color: #3e8e41;
}


.but-add-dot{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    margin-right: 90%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #e3e3e3;
}
.but-add-dot:hover{
    background-color: #3e8e41;
}

.DataAdd{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    width: 100%;
}

.infoadd{
    overflow: hidden;
    margin-top: 15px;

}

.infoadd a{
    float: right;
    margin-left: 10px;
}
.infoadd img{
    display: block;
    width: 150px;
    height: 150pxl;
}
.bodyADD{
    overflow: hidden;
}
.bodyADD h4{
    text-align: right;
    margin: 0 0 5px;
    font-size:18px;
}


.goBack{
    width:10%;
    display: none;
    float: right;
    font-size: 30px;
    border: none;
    background-color: #ffffff;
    margin-top: 10px;
}
.h3ONmq{display: none;}


.navbar{background:#222222;}
.nav-item::after{content:'';display:block;width:0px;height:2px;background:#3e8e41;transition: 0.2s;}
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;}
.nav-link{padding:15px 5px;transition:0.2s;}
.dropdown-item.active, .dropdown-item:active{color:#212529;}
.dropdown-item:focus, .dropdown-item:hover{background:#3e8e41;}






/*-------------layout3----------------*/

.text-right{
    display: block;
    float: right;;
    width: 33%;
    height: 100vh;
}
.text-right p{
    text-align: right;
    margin: 0 0 10px
}

.text-right button{
    width: 30px;
    height: 30px;
    border-radius: 10%;
    float: left;
}

.right-info{
    display: block;
    float: right;;
    padding: 10px;
    width: 50%;
    height: 30vh;
}

.left-info{
    display: block;
    float: right;;
    padding: 10px;
    width: 50%;
    height: 30vh;
}
.main-info{
    display: block;
    float: right;;
    height: 70vh;
    width: 100%;
    padding: 20px;
    border:2px solid #d3d3d3;
}

.NOunderline {
    margin-bottom: 3px;
    color: #000000
}
.NOunderline a:hover{
    text-decoration: none;
    color: #000000
}



.copy{
    margin:20px;
    padding:20px;
    border-style:solid;
    border-width:1px;
    border-color: #ddd;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size:18px;
}
.panel{ margin: 20px; padding:0px; height:34px;}
.audio-panel{border:none !important;}
#playlist,audio{width:100%;}
.active a{color:#fff;}
.playLIST1 ul{list-style:none; margin:0px; padding:20px;}
.playLIST1 li{margin:0px; padding:0px;}
.playLIST1 li, a{transition:all 0.5s;}
.list-group-item.active a{ color:#fff;}
.playLIST1 a{display:block; position:relative; width:100%;}
.payLIST1 li a{display:block;}
.playLIST1 a{ color:#fff;}
.last{display:none;}
a:hover{
    text-decoration: none;
}

/* =------layout5----------*/
.firstP{
    float: right; 
    width:30%;
}
.secP{
    float: right; 
    width:30%;
}
.terdP{
    float: right; 
    width:30%;
}

.row1{
    float: right;
    margin-right: -15px;
    margin-left: -15px;
}

.showAll{
    display: none;
    position: absolute;
    float: left;
    margin-top: 26%;
    margin-left: 2%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.smallScren{
    float: right; 
    margin-left:20px;
    width: 20px;
    height: 30px;
    background-color: #e3e3e3;

}


.moveName{margin-left: 440px;}
.movetsec{margin-left: 160px;}
.movesex{margin-left: 800px;}
.moveterth{margin-left: 80px;}
.movechip{margin-left: 430px;}
.movepoto{margin-left: 450px;}

.phpPage{
    width: 100%;
    height: 20%;;
}


/*-------------------------------------*/

    


@media screen and (max-width: 500px){

    .asid1, .asid2{display: none;}
    .butMain{display: block;}

    .bellFORwb{display: none;}
    .bell{display: block;}

    .HomeScrenWEB{display: none;}
    .HomeScren{display: block;}

    .secHeader{padding-right: 0px;}

    .navHeader{
        display: block;
        text-align: center;
        margin-top: 5px;
    }
    .humborger{display: block;}
    .btn-group-footer {display: block;}
    footer{display: block}

    .infobody ul{display: none;}
    .infobody a{display: none;}
    .Data{padding: 0px; margin-bottom: 0px;}
    
    .but-add-dog{color: #3e8e41; border: 3px solid #000000; background-image: url('/images/add-dog.svg');}    
    .but-add-dog:hover{ color: #3e8e41; border: 3px solid #000000; background-image: url('/images/add2-dog.svg');}
        
    .but-add-dot{color: #3e8e41; border: 3px solid #000000;}    
    .but-add-dot:hover{ color: #d3d3d3; border: 3px solid #000000;}
    .DataAdd{border: 0px; background: #ffffff;}
    .bodyADD h4{display: none;}
    .infoadd img{display: none;}


    
    .goBack{display: block;}
    #listDogPage .goBack{margin-top: 5%;}
    .h3ONmq{display: block;}
    .navlayout2-3-4{display: none;}
    #listDogsPage .navHeader{display: none;}

    #myDoginfoPage .navHeader{display: none;}
    .layout4{ margin-top: 5px;}

   
    .firstP{width: 80%;}
    .secP {display: none;}
    .terdP{display: none;}
    .row1{ font-size: 60%;}
    .DeletAdd{ display: block; float: left; margin-top: 4%;}
    #listDogPage h4{font-size: 15px;}
    .showAll{display: block;}

    .moveName{margin-left: 170px;}
    .movetsec{margin-left: 80px;}
    .moveterth{margin-left: 20px;}
    .movesex{margin-left: 60px;}
    .movechip{margin-left: 150px;}
    .movepoto{margin-left: 160px;}

    .Afix a{
        display: block;
        float: left; 
    }

 


}


@media (max-width: 550px) {
    nav a{font-size: 12px;}
}



@media (max-width: 580px) {
    #Logo .Hdog{font-size: 25px;}
    #Logo .Hfetch{font-size: 25px;}
    #Logo .logoIMG{width: 40px; height: 40px;}
    #Logo .paw1{font-size: 30px;}
    #Logo .paw2{font-size: 30px;}
}

@media (max-width: 1010px) {

    .helloUSER{display: none;}


}


@media (max-width: 736px) {
    .search input{display: none;}
    .text-right{width: 100%;}
}

@media (max-width: 700px) {

    .text-right{width: 100%;}
}








