* {
    margin: 0px;
    padding: 0px;
}

  
header,main,nav,article,aside,section,footer {display: block;}
  
body {
    font-family: "Lato", sans-serif;
    font-style: normal;}


/*-- header --*/
.navbar-custom {
  background-color: #3e8e41;
  color: #ffffff;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0px !important;}

.butMain {
    display: none;
    height: 60vh;
    width: 100%;}

.leftSise{display: block; flex-direction: inherit !important;}
#moveRight{float: right;}

.navbar-default .navbar-toggle { border-color: #ffff;}

#display {background-color: #ffffff;}
 
#onlyapp{display: none;
    float: right;
    width: 50%;
    text-align: right;}
#go-right{float: right; width: 100%; }
#colorHed{background-color: #67b46a;}
#fix{width: 100%;}


#icon-Nav{
    color: #ffffff;
    font-size: 150%;}

.leftSise2{ display: none !important;}

.imagHumborger{
    float: right;
    width: 25px;
    height: 25px;
    margin-left: 20px;}

.imagHome2{
    width: 120%;
    height: 120%;}

footer{
      background-color:#85e288;
      padding: 60px 0px;}
  
footer ul{
      list-style:none;
      margin:0 auto;
      display:inline-block;
      padding-top:50px;}
  
footer ul li{
      float:left;}
  
footer ul li a{
      color:#b1aca1;
      padding:20px;
}
  
footer ul li a:hover{
      color:#7dabdb;
      text-decoration:none;}
  
.footer-top{
      padding-bottom:50px;}
  
.footer-top .fa{
      font-size:18px;
      color: #FFF;
      padding-right:10px;}

.footer-top a{
        color:#FFF;
        text-decoration:none;}
    
.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
        color:#7dabdb;}
.copyright{
        background-color:#f0f0f0;}
    
.copyright p{
        font-size:12px;
        padding:15px 0 10px 0;}
  
/*foter*//*foter*/


#wrapper main{
    display: block;
    background: #ffffff;
    padding-top: 19vh;
    margin: 0px auto;
}
#main-table{padding-top: 37vh !important;}
#main-table tr{text-align: right;}

#wrapper nav a{
    color: #ffffff;
}
#wi{
  flex-direction: inherit;
  float: right;
}
#wi a{color: #ffffff !important;
    font-size: 120%;
}
#wi2 a{color: #000000 !important;}

#myDoginfoPage main{
    background: #ffffff;
    padding-top: 120px;
    margin: auto;
}


ul {
    list-style-type: none;
}
  
nav li {
    list-style: none;
}

a {    
    color: #000000 !important; 
    font-weight: bold !important;;
}

.h3ONmq{display: none; margin-top: 15px;}
.navlayout2-3-4{display: block;}

header{
    position: absolute;
    width: 100%;}

#Logo{
    float: right;
    margin-top: 3%;
    margin-right: 10%;
}

#Logo .paw1{
    float: left;
    font-size: 400%;
    color: #ffffff;
    margin-top: 1vh;  
}

#Logo .paw2{
    float: left;
    font-size: 400%;
    color: #ffffff;
    margin-top: 1vh;  
}
#Logo .Hdog{
    float: left;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 2vh;
}
#Logo .Hfetch {
    float: left;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 3vh;
}
#Logo .logoIMG{
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: relative;

    float: left;
    margin: 1vh;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}
.secHeader{
    margin-top: 12vh;
    width: 100%;
    float: right;
    padding-right: 30px;
    background-color: #ffffff;
}

.Hh3{
    color: #000000;
    font-weight: bold;
    text-align: center;
}


.HomeScren{
    display: none;
    background-color: #67b46a;
}

.HomeScrenWEB{
    display: block;
    margin-top: 5.2%;
}

.Mq{
    display: inline-block;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 3px solid #050505;
    color: #050505;
    background-color: #ffffff;
}
.Allicons{ 
    font-size: 300%;
}
.fille{
    float: left;
    margin: 5%;
}
.control{
    position: absolute;
    float: left;
    margin: 5%;
    margin-top: 40%;
}
.sound{
    float: right;
    margin: 5%;

}
.hart{    
    position: absolute;
    float: left;
    margin: 5%;
    margin-top: 40%;
    margin-left: 77%;
}
.camara{
    position: absolute;
    float: left;
    margin-left: 33%;
    margin-top: 15%;
}
.BigButt{
    display: inline-block;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    border: 3px solid #050505;
    color: #050505;
    background-color: #ffffff;
}
.BigIcon{
    width: 20vh;
    height: 20vh;
}
.ImgIcon{
    width: 65%;
    height: 65%;
}
.poto{
    width: 20px;
    height: 20px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/*ddddddddddddddddddddddddddddddddd*/
.media .btn-footer1 {
    display: none;
    border: 1px solid #7BFF00;
    margin-top: 10px;
    color: #999;
}

.media .btn-footer1:hover {
    background: #7BFF00;
    color: #fff;
    transition: all 0.4s ease-in-out;}

.media .btn-footer2 {
        border: 1px solid #7BFF00;
        color: #999;
}
    
.media .btn-footer2:hover {
        background: #7BFF00;
        color: #fff;
        transition: all 0.4s ease-in-out;}
/*<----layout2----->*/

.info{
  overflow: hidden;
  margin-top: 40px;
}

.info a{
  margin-left: 10px;
}
.info img{
  display: block;
  width: 150px;
  height: 150pxl;
}
.infobody{
  overflow: hidden;
}
.infobody h4{
  text-align: right;
  margin: 0 0 5px;
  font-size:18px;
}
.infobody a{
  float: left;
  margin: 0 0 5px;
  font-size:18px;
}

.infobody p{
  text-align: right;
  margin: 0 0 10px;

}

.infobody ul{
  float: right;
  margin-left: -5px;
  margin-top: 5px;

}

.infobody li{

  float: left;
  padding-right: 5px;
  padding-left: 5px;
}

.h3ONmq{display: none;}
.nav-item::after{content:'';display:block;width:0px;height:2px;background:#3e8e41;transition: 0.2s;}
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;}
.nav-link{padding:15px 5px;transition:0.2s;}
.dropdown-item.active, .dropdown-item:active{color:#212529;}
.dropdown-item:focus, .dropdown-item:hover{background:#3e8e41;}


#well {padding: 5px;}
.hH4{text-align: right !important;}
.p2 {
    text-align: right !important;
    width: 85%;
    float: right;
}
.add {
    margin: 5%;
}
.Mq2 {
    display: inline-block;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 3px solid #050505;
    color: #050505;
    background-color: #ffffff;
    margin: 2%;
}

#size{font-size: 200%;}
#some{margin-top: 5%;}
.sub-text {width: 100% !important;}


/*for profile*/
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;}
/*more galaryyyyyyy*/


/****** Searchable container */

.title{
    margin-left:20px}
   
.fa-user{
    font-size:80px   }
.searchable-container{
       margin-top:40px;}    
.glyphicon-lg{
       font-size:4em}
.info-block{
       border-right:5px solid #E6E6E6;margin-bottom:25px}
.info-block .square-box {
       width:120px;
       min-height:120px;
       margin-right:22px;
       text-align:center!important;
       background-color:#676767;
       padding:20px 0}
.info-block:hover .info-block.block-info {
       border-color:#20819e
   }
   
.info-block.block-info .square-box {
       background-color:#5bc0de;
       color:#FFF
}
   
.border{
      border-bottom:1px solid #F1F1F1;
      margin-bottom:10px;}
.main-secction{
      box-shadow: 10px 10px 10px;}
.image-section{
      padding: 0px;    }
.image-section img{
      width: 100%;
      height:250px;
      position: relative;    }
.user-image{
      position: absolute;    }
.user-left-part{
      margin: 0px;    }
.user-image img{
        width: 20vh;
        height: 20vh;
        border-radius: 50%;    }
.user-profil-part{
      padding-bottom:30px;
      background-color:#FAFAFA;    }
.follow{    
      margin-top:70px;       }
.user-detail-row{      margin:0px; }
.user-detail-section2 p{
      font-size:12px;
      padding: 0px;
      margin: 0px;    }.user-detail-section2{
      margin-top:10px;
}
.user-detail-section2 span{
      color:#7CBBC3;
      font-size: 20px;
    }
    .user-detail-section2 small{
      font-size:12px;
      color:#D3A86A;
    }
    .profile-right-section{
      padding: 20px 0px 10px 15px;
      background-color: #FFFFFF;  
    }
    .profile-right-section-row{
      margin: 0px;
    }
    .profile-header-section1 h1{
      font-size: 25px;
      margin: 0px;
    }
    .profile-header-section1 h5{
      color: #0062cc;
    }
    .req-btn{
      height:30px;
      font-size:12px;
    }
    .profile-tag{
      padding: 10px;
      border:1px solid #F6F6F6;
    }
    .profile-tag p{
      font-size: 12px;
      color:black;
    }
    .profile-tag i{
      color:#ADADAD;
      font-size: 20px;
    }
    .image-right-part{
      background-color: #FCFCFC;
      margin: 0px;
      padding: 5px;
    }
    .img-main-rightPart{
      background-color: #FCFCFC;
      margin-top: auto;
    }
    .image-right-detail{
      padding: 0px;
    }
    .image-right-detail p{
      font-size: 12px;
    }
    .image-right-detail a:hover{
      text-decoration: none;
    }
    .image-right img{
      width: 100%;
    }
    .image-right-detail-section2{
      margin: 0px;
    }
    .image-right-detail-section2 p{
      color:#38ACDF;
      margin:0px;
    }
    .image-right-detail-section2 span{
      color:#7F7F7F;
    }
  
    .nav-link{
      font-size: 1.2em;    
    }



/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.menu_title {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    margin: 0 5px;
}


@media (max-width:768px){
        
    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%; 
    }
}



/* =====[ MAIN LIST ]========================*/


/* ===== end dynamic dogs circels*========================================================================== */
/* ================================================================================== */



/*MMGMMGMGMGMMGMGMGMMGMGMGMMGMGGM*/

body { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: 'Montserrat', sans-serif; letter-spacing: 0px; font-size: 16px; color: #676b6e; font-weight: 300; line-height: 30px; }
h1, h2, h3, h4, h5, h6 { color: #27303e; margin: 0px 0px 15px 0px; font-weight: 300; font-family: 'Montserrat', sans-serif; letter-spacing: -1px; }
h1 { font-size: 46px; line-height: 48px; }
h2 { font-size: 36px; line-height: 48px; }
h3 { font-size: 24px; line-height: 36px; font-weight: 400; }
h4 { font-size: 20px; line-height: 26px; font-weight: 400; }
h5 { font-size: 14px; font-weight: 400; }
h6 { font-size: 12px; font-weight: 400; }
p { margin: 0 0 24px; line-height: 1.8; }
p:last-child { margin: 0px; }
ul, ol { list-style: none; margin: 0; padding: 0; }
a { text-decoration: none; color: #27303e; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
a:focus, a:hover { text-decoration: none; color: #62f38c;; }


.service-block { background-color: transparent; padding: 40px 20px; text-align: center; }
.service-icon { height: 140px; width: 140px; text-align: center; background-color: #f8f9fa; border-radius: 100%; padding: 30px; margin-bottom: 20px; align-items: center; display: inline-block; }

.service-block:hover { background-color: #f8f9fa; padding: 40px 20px; text-align: center; cursor: pointer; }


.NOunderline {
    margin-bottom: 3px;
    color: #000000
}
.NOunderline a:hover{
    text-decoration: none;
    color: #000000
}

.copy{
    margin:20px;
    padding:20px;
    border-style:solid;
    border-width:1px;
    border-color: #ddd;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size:18px;
}
.panel{ margin: 20px; padding:0px;}
.audio-panel{border:none !important;}
#playlist,audio{width:100%;}
.active a{color:#fff;}
.playLIST1 ul{list-style:none; margin:0px; padding:20px;}
.playLIST1 li{margin:0px; padding:0px;}
.playLIST1 li, a{transition:all 0.5s;}
.list-group-item.active a{ color:#fff;}
.playLIST1 a{display:block; position:relative; width:100%;}
.payLIST1 li a{display:block;}
.playLIST1 a{ color:#fff;}
.last{display:none;}
a:hover{
    text-decoration: none;
}

.showAll{
    display: none;
    position: absolute;
    float: left;
    margin-top: 26%;
    margin-left: 2%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#onlyapp a{

    color: #ffff !important;
}

/*form*/
*[role="form"] {
    max-width: 120vh;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    text-align: right;    
    margin-top: 8%;

}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

*[role="form"] label{
    float: right;
}

.bg {
  height: 100%;
  display: flex;
  float: right;
  margin-right: 4%;
  justify-content: center;
  flex-direction: column;
}

#input3 input{
  float: right ;
}

#displayit{margin: auto;}
#namerow{
  margin-top: 6%;
}
#moveforme{margin-top: 4% !important;}
#main_area{margin-top: 4% !important}
.col-lg-6{text-align: center !important;}
#yes-none{display: none;}

.bs-callout-danger {
  border-right-color: #62f38c;
  text-align: right;}
.listof{
width: 20vh;
height: 20vh;
margin-left: 55%;
}
#movelittle{margin-top: 7%;}







/*-------------------------------------*/

    


@media screen and (max-width: 500px){
  .butMain {display: block;}
    .HomeScrenWEB{display: none !important;}
    .HomeScren{display: block;}
    #onlyapp{display: block;}
    .h3ONmq{display: block;}
    .showAll{display: block;}
    .Afix a{
        display: block;
        float: left; 
    }
}
@media (max-width: 769px) {
  #Logo{
      margin-right:5%;
      margin-top: 6%;}
}

@media (max-width: 994px) {
  .leftSise{display: none !important;}
  .leftSise2{
        display: block !important;
        position: absolute;
        margin-left: -5vh !important;
        margin-top: -1vh !important;}

    #well {
        margin-bottom: 0px;
    }

    .no-none{display: none;}
    #yes-none{display: block;}
    .well{
      padding: 0px !important;
      margin-bottom: 0px !important;
    }
    #moveforme{margin-top: 0% !important;}
    #notonapp{display: none;}
    #colorHed{background-color: #3e8e41;}
    .footer-top{display: none;}
    footer {
        padding:0px;}
    .btn-footer1{
        display: block !important ;
        position: absolute;}
    .btn-footer2{
        display: none !important ;}

    *[role="form"] {
      margin-top: 0%; } 
      
      #main-table{padding-top: 22vh !important;}
      #movelittle{margin-top: 0%;}

}
.trash { color:rgb(209, 91, 71); }
.flag { color:rgb(248, 148, 6); }
.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; text-align: center !important; }





.searchable-container{ margin-top:40px;}
.glyphicon-lg{font-size:4em}
.btn-compose-email {
       padding: 10px 0px;
       margin-bottom: 20px;
}
   
.btn-danger {
       background-color: #E9573F;
       border-color: #E9573F;
       color: white;
}
   
.panel-teal .panel-heading {
       background-color: #37BC9B;
       border: 1px solid #36b898;
       color: white;
}
   
.panel .panel-heading {
       padding: 5px;
       border-top-right-radius: 3px;
       border-top-left-radius: 3px;
       border-bottom: 1px solid #DDD;
       -moz-border-radius: 0px;
       -webkit-border-radius: 0px;
       border-radius: 0px;
}
   
.panel .panel-heading .panel-title {
       padding: 10px;
       font-size: 17px;}
   
form .form-group {
       position: relative;
       margin-left: 0px !important;
       margin-right: 0px !important;
}
   
   .inner-all {
       padding: 10px;
   }
   
  
@media (max-width: 360px) {
     .mail-wrapper .panel-sub-heading {
       text-align: center;
     }
     .mail-wrapper .panel-sub-heading .pull-left, .mail-wrapper .panel-sub-heading .pull-right {
       float: none !important;
       display: block;
     }
     .mail-wrapper .panel-sub-heading .pull-right {
       margin-top: 10px;
     }
     .mail-wrapper .panel-sub-heading img {
       display: block;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 10px;
     }
     .mail-wrapper .panel-footer {
       text-align: center;
     }
     .mail-wrapper .panel-footer .pull-right {
       float: none !important;
       margin-left: auto;
       margin-right: auto;
     }
     .mail-wrapper .attachment-mail ul {
       padding: 0px;
     }
     .mail-wrapper .attachment-mail ul li {
       width: 100%;
     }
     .mail-wrapper .attachment-mail ul li a.atch-thumb img {
       width: 100% !important;
     }
     .mail-wrapper .attachment-mail ul li .links {
       margin-bottom: 20px;
     }
   
     .compose-mail-wrapper .search-mail input {
       width: 130px;
     }
     .compose-mail-wrapper .panel-sub-heading {
       padding: 10px 7px;
     }
}
   
   
   /*font Awesome http://fontawesome.io*/
   @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
   /*Comment List styles*/
   .comment-list .row {
     margin-bottom: 0px;
   }
   .comment-list .panel .panel-heading {
     padding: 4px 15px;
     position: absolute;
     border:none;
     /*Panel-heading border radius*/
     border-top-right-radius:0px;
     top: 1px;
   }
   .comment-list .panel .panel-heading.right {
     border-right-width: 0px;
     /*Panel-heading border radius*/
     border-top-left-radius:0px;
     right: 16px;
   }
   .comment-list .panel .panel-heading .panel-body {
     padding-top: 6px;
   }
   .comment-list figcaption {
     /*For wrapping text in thumbnail*/
     word-wrap: break-word;
   }
   /* Portrait tablets and medium desktops */
   @media (min-width: 768px) {
     .comment-list .arrow:after, .comment-list .arrow:before {
       content: "";
       position: absolute;
       width: 0;
       height: 0;
       border-style: solid;
       border-color: transparent;
     }
     .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
       border-left: 0;
     }
     /*****Left Arrow*****/
     /*Outline effect style*/
     .comment-list .panel.arrow.left:before {
       left: 0px;
       top: 30px;
       /*Use boarder color of panel*/
       border-right-color: inherit;
       border-width: 16px;
     }
     /*Background color effect*/
     .comment-list .panel.arrow.left:after {
       left: 1px;
       top: 31px;
       /*Change for different outline color*/
       border-right-color: #FFFFFF;
       border-width: 15px;
     }
     /*****Right Arrow*****/
     /*Outline effect style*/
     .comment-list .panel.arrow.right:before {
       right: -16px;
       top: 30px;
       /*Use boarder color of panel*/
       border-left-color: inherit;
       border-width: 16px;
     }
     /*Background color effect*/
     .comment-list .panel.arrow.right:after {
       right: -14px;
       top: 31px;
       /*Change for different outline color*/
       border-left-color: #FFFFFF;
       border-width: 15px;
     }
   }
   .comment-list .comment-post {
     margin-top: 6px;
   }
   




/*======for index page==========*/
.content-slider
{
 background-color: #eee;
}
.pd0{
	padding:0; 
}
.content-p{
	font-size: 49px;
}
.myshadow{
    color: #ff0066;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom:30px;
     font-family:  'clanpro', Helvetica, sans-serif ;
}
#carousel-text{
  padding: 0;  
}
.sub-text{
    width: 74%;
    font-size: 18px;
}
.newslleter{
    padding-top: 27px;
    font-size: 20px;
}
.nav-transparent{
	background-color:transparent;
	border: transparent; 
}
.navbar-search{
	padding:0; 
}
.btn-info {
    color: #fff;
    background-color: #ff0066;
    border-color: #ff0066;
}
.btn-info:hover,.btn-info:focus,.btn-info:active {
    background-color: #ff0066;
    border-color: #ff0066;
}
.fg{
 height: 62px !important;
}
 
.color-1-font {color: #ffffff !important;}
.color1-price {color: #ffffff !important;
}
.front,.back {
  float:left;
  width:20vh;
  height:20vh;
  background-color:#6baba1;
  margin-top: -6%;    
  border-radius: 50% !important;
}

#backback{background-color: #fff;}

.btn-footer1{display: none;}
.btn-footer2{display: block;}


/* =====[ MAIN LIST ]========================*/
.box {
  list-style:none;
  display:block;
  text-align:center;
  width:100%;
}
.box > li {
  width:20vh;
  height:20vh;
  display:inline-block;
  margin: 3vh;
  margin-bottom: 5%;
}
/* =====[ FRONT ELEMENTS ]==================== */
.front > div {
text-align:center;
color:#60bad7;}

.title {
  font-size:25px;
  text-transform:uppercase;
  text-align:center;
  padding: 15px 20px 15px 20px;
  margin-left: 2%;
}
.price span {
  vertical-align:top;
  display:inline-block;
  font-size: 150%;
  margin-top: -2vh;
}

.currency,.end {
font-size:40px;
}
.description {
text-align:center;
}
.front .description {
color:#fff!important;
font-size:17px;
}
.back .title {
color:#FFF;
}
.back .description ul {
width:55%;
margin:auto;
}
.back .description ul li {
color:#FFF!important;
text-align:left;
list-style:none;
line-height:1.4;
}
.popular {
font-size:30px;
color:#60bad7;
position:absolute;
left:0;
top:0;
opacity:0;
}

/* =====[ CIRCLE ANIMATIONS ]======= */

.circle {
  border-radius:150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  position:relative;
  -webkit-transition:all 1.8s ease-in-out;
  -moz-transition:all 1.8s ease-in-out;
  -o-transition:all 1.8s ease-in-out;
  -ms-transition:all 1.8s ease-in-out;
  transition:all 1.8s ease-in-out;
  position: absolute;
  margin-top: 3%;
  margin-left: 2%;
  }
  
  .info {
  position:absolute; border-radius:150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  opacity:0;
  -moz-transform:scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); -webkit-transform:scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); -o-transform:scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); -ms-transform:scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform:scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  margin-top: -35px;
  }
  
  .circle:hover .front {
  -moz-transform:scale(1.15);
  -webkit-transform:scale(1.15);
  -o-transform:scale(1.15);
  -ms-transform:scale(1.15);
  transform:scale(1.15);
  opacity:1;
  }
  
  .circle:hover .info {
  -moz-transform:scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform:scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform:scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform:scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform:scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  opacity:1;
  margin-top: auto;
  }
  
  .circle:hover .front-popular {
  border-radius:10% 50% 50% 50%!important;
  }
  
  .circle:hover .popular {
  opacity:1;
  animation:popularAnim 2s 2;
  -webkit-animation:popularAnim 2s 2;
  }
  
  @keyframes popularAnim
  {
  from {opacity:0; left:40px;}
  to {opacity:1; left:0;}
  }
  
  @-webkit-keyframes popularAnim /* Safari and Chrome */
  {
  from {opacity:0; left:40px;}
  to {opacity:1; left:0;}
  }
  
  @-moz-keyframes popularAnim {
  from {opacity:0; left:40px;}
  to {opacity:1; left:0;}
  }
        
  @-ms-keyframes popularAnim {
  from {opacity:0; left:40px;}
  to {opacity:1; left:0;}
  }
  
  .box > li{
  *float:left;
  }
  
  .circle .back{
  *display:none;
  }
  
  .circle .back{
  z-index:0;
  }
  .circle .front{
  position:relative;
  z-index:1;
  }
  .circle:hover .back{
  z-index:1;
  }
  .circle:hover .front{
  position:relative;
  z-index:0;
  }
  
  .circle:hover .back{
  *display:inline;
  }
  .circle:hover .front{
  *display:none;
  }
  


  /*folders*/
.folder p,h1{font-weight:300}
.left{margin-top:30px; margin-left: 15%;}
.left button{border: none !important;}
.right{width:25%;float:right;background:#fff;padding:30px;height:70vh;min-height:500px;margin-top:50px;margin-bottom:10vh}
.left:after,.right:after{content:"";display:table;clear:both}

.folder,.item{margin-right:10px;position:relative}

.folder{float:left;background:rgba(0,0,0,0);transition:.2s background-color ease-out;text-align:center}
.folder i.fa-folder{height:90px!important;width:100%!important;line-height:100px!important;margin:10px auto!important;font-size:90px!important;transition:.2s all ease-out}
.folder i.fa-check{color:#fff;background:rgba(0,0,0,.1);border-radius:50%;width:60px;height:60px;text-align:center;line-height:60px;position:absolute;left:0;right:0;top:34px;margin:auto;pointer-events:none;transform:scale(0);opacity:0;font-size:24px}
.folder.item-dropped i.fa-check{animation:animateValidation 1s linear}
@keyframes animateValidation{
0%{transform:scale(1.5);opacity:0}
40%,80%{transform:scale(1);opacity:1}
100%{transform:scale(0);opacity:0}
}
.folder p{cursor:default;opacity:.5;transition:.2s all ease-out}
.folder:hover .fa-folder{transform:scale(1.1)!important}
.folder:hover p{transform:translateY(6px);opacity:1}
.tooltiper .tooltip,.tooltiper-up .tooltip{font-size:.7rem;background:rgba(0,0,0,.7);padding:5px 10px;border-radius:5px;line-height:1.4em;opacity:0}

#folder1 i.fa-folder,#folder1-content h2 .fa-folder{color:#eb4141!important}
#folder2 i.fa-folder,#folder2-content h2 .fa-folder{color:#4bc97a}
#folder3 i.fa-folder,#folder3-content h2 .fa-folder{color:#6fdbeb}
#folder4 i.fa-folder,#folder4-content h2 .fa-folder{color:#eeca4e}
#folder5 i.fa-folder,#folder5-content h2 .fa-folder{color:#5b5b5b}


.folder-content .file{float:left;margin-right:20px;bottom:20px;text-align:center;padding:20px}
.folder-content p{font-size:14px}
.folder-content .file i{font-size:36px;margin-bottom:15px}
#fileSelect{color:transparent;position:relative;width:100%;height:100%;margin:0 auto;display:block;cursor:pointer}
.fileUpload p,.fileUpload span{display:inline-block;vertical-align:middle;transition:.3s all ease-out}
.fileUpload{position:absolute;top:0;left:0;width:100%;height:100%}
.fileUpload span{opacity:.8;height:40px;width:40px;line-height:40px;color:#fff;text-align:center;border-radius:50%;font-size:24px;margin-right:10px}
.fileUpload p{font-weight:400;line-height:30px;height:30px;font-size:18px}
.fileUpload p:after{content:"Add up to 5GB";display:block;height:0;font-weight:400;text-align:left;color:#999;line-height:10px;font-size:14px;margin-top:5px;opacity:0;transition:.3s all ease-out;transform:translateY(-18px)}

 
/*play list*/

/* RemixDesign | woaichidapi@163.com | Redesigned by JimmyCheung */
.audioplayer {display: flex;flex-direction: row;box-sizing: border-box;margin: 1em 0;padding: 0 24px;width: 100%;height: 96px;align-items: center;
  border: 1px solid #DDE2E6;border-radius: 4px;background: #fff;}
.audioplayer-playpause {display: flex;justify-content: center;align-items: center;width: 48px;height: 48px;
  border-radius: 50%;cursor: pointer;transition: all .2s ease-in-out;
}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause {background: rgba(91, 130, 255, 0);border: 1px solid #5B82FF;}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover {background: rgba(91, 130, 255, 0.1);}
.audioplayer-playing .audioplayer-playpause {background: rgba(253, 79, 26, 0);border: 1px solid #FD4F1A;}
.audioplayer-playing .audioplayer-playpause:hover {background: rgba(235, 79, 26, 0.1);}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {content: '';justify-content: center;width: 0;
  height: 0;margin-left: 2px;border-top: 7px solid transparent;border-right: none;border-bottom: 7px solid transparent;border-left: 12px solid #0059FF;
}
.audioplayer-playing .audioplayer-playpause a {
  content: '';display: flex;justify-content: space-between;width: 12px;height: 14px;
}
.audioplayer-playing .audioplayer-playpause a::before, .audioplayer-playing .audioplayer-playpause a::after {
  content: '';width: 4px;height: 14px;background-color: #FD4F1A;
}
.audioplayer-time {
  display: flex;width: 40px;justify-content:center;font-size: 12px;color: rgba(51, 51 ,51, .6)
}
.audioplayer-time-current {
  margin-left: 24px;
}
.audioplayer-time-duration {
  margin-right: 24px;
}
.audioplayer-bar {margin: 0 12px;height: 12px;flex-basis: 0;flex-grow: 1;
  cursor: pointer;
}
.audioplayer-bar::before { content: '';position: absolute; top: 5px;width: 100%; height: 2px;
  background-color: #DDE2E6;
}
.audioplayer-bar > div { position: absolute; left: 0; top: 5px;
}
.audioplayer-bar-loaded { z-index: 1; height: 2px;background: #BEC8D2;
}
.audioplayer-bar-played {flex-direction: row-reverse;z-index: 2;height: 2px;background: -webkit-linear-gradient(left,#0059FF,#09B1FA);
}
.audioplayer-bar-played::after {display: flex;position: absolute; content: '';box-sizing: border-box;top: -5px;
  right: -1px;margin-right: -5px;width: 12px;height: 12px;background-color: #fff;border-radius: 6px;
}
.audioplayer:not(.audioplayer-playing) .audioplayer-bar-played::after {
  border: 2px solid #BEC8D2;
}
.audioplayer-playing .audioplayer-bar-played::after {
  border: 2px solid #0059FF;
}
.audioplayer-volume { display: flex;align-items: center;
}
.audioplayer-volume-button { display: flex;align-items: center;
  width: 24px;height: 24px;cursor: pointer;
}
.audioplayer-volume-button a { display: flex;width: 6px; height: 8px;background-color: #9A9FB0;position: relative;
}
.audioplayer-volume-button a:before, .audioplayer-volume-button a:after {
  content: '';
  position: absolute;
}
.audioplayer-volume-button a:before {width: 0;
  height: 0; border-top: 8px solid transparent; border-right: 9px solid #9A9FB0; border-bottom: 8px solid transparent; border-left: none;
  top: -4px;
}
.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
  left: 10px;top: -2px;width: 6px;height: 6px;border: 6px double #9A9FB0;border-width: 6px 6px 0 0;border-radius: 0 12px 0 0;
  transform: rotate(45deg);
}
.audioplayer-mute .audioplayer-volume-button a {
  background-color: #FD4F1A;
}
.audioplayer-mute .audioplayer-volume-button a:before {
  border-right: 9px solid #FD4F1A;
}
.audioplayer-volume-adjust {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.audioplayer-volume-adjust > div { position: relative;display: flex;width: 60px;
  height: 2px; cursor: pointer; background-color: #BEC8D2;
}
.audioplayer-volume-adjust div div {position: absolute; top: 0;left: 0;height: 2px;background-color: #0059FF;
}
/* responsive | you can change the max-width value to match your theme */
@media screen and (max-width: 679px) {
  .audioplayer-volume-adjust {
      display: none;
  }
}

.oneDOG{
  background-image: url(../images/goly150.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.twoDOG{
  background-image: url(../images/shimi150.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.treeDOG{
  background-image: url(../images/mish.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#wi .hi{
  margin-left: 55%;
  margin-top: 63%;}
  




          